<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dictionary.repository.ContentMapper">
	<!-- 全件検索 -->
	<select id="selectAll" resultType="com.example.dictionary.entity.Content">
		SELECT contentId, wordId, haveTag, content FROM content
	</select>
	<!-- 1件検索 -->
	<select id="selectById" resultType="com.example.dictionary.entity.Content">
		SELECT contentId, wordId, haveTag, content FROM content WHERE contentId = #{contentId}
	</select>
	<!-- 登録 -->
	<insert id="insert">
		INSERT INTO content (wordId, haveTag, content)
		VALUES (#{wordId}, #{haveTag}, #{content})
	</insert>
	<!-- 更新 -->
	<update id="update">
		UPDATE content SET wordId = #{wordId}, haveTag = #{haveTag}, content = #{content} WHERE contentId = #{contentId}
	</update>
	<!-- 削除 -->
	<delete id="delete">
		DELETE FROM content WHERE contentId = #{contentId}
	</delete>
</mapper>