<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/wordsAdmin/updateWord}">
		<input type="hidden" th:field="${wordForm.wordId}">
		<h5>タグ</h5>
		<label th:each="tag : ${allTags}">
			<input type="checkbox" name="tag" th:value="${tag.tagId}" th:text="${tag.tagName}" th:field="${wordForm.haveTag}">
		</label>
		<p>元のタグ</p>
		<ul>
			<li th:each="tag : ${haveList}">
				<div th:each="allTag : ${allTags}" th:if="${allTag.tagId == tag}" th:text="${allTag.tagName}"></div>
			</li>
		</ul>
		<h5>見出し語</h5>
		<input type="text" th:field="${wordForm.word}">
		<h5>読み</h5>
		<input type="text" th:field="${wordForm.pronounce}">
		<input type="submit" value="更新">
	</form>

</body>
</html>